<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div id="app">
        <header>
            <h3> {{ message }},
                {{ message2 }},
                {{ message3 }}
            </h3>
        </header>
        <section>
            <p v-bind:id="uid"></p>
            <button v-on:click="clickBtn"> alert </button>
            <input v-on:blur="eventMethod" value="newEvent">

            <ul v-if="flag" v-for="system in systems">
                <li> {{ system }} </li>
            </ul>
        </section>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</html>